<launch>

    <param name="robot_description" command="xacro --inorder '$(find wizualizacja_manipulatora)/urdf/fixed.urdf'"/>

    <node name="robot_state_publisher" pkg="robot_state_publisher" type="robot_state_publisher"/>

    <node name="rviz" pkg="rviz" type="rviz" args="-f base" required="true"/>

</launch>
